* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: rgb(36, 36, 120);
}

/* App.js style*/

.app-container {
  width: 517px;
  height: 800px;
  background-color: white;
  border: 1px solid blue;
  margin: 20px auto;
  width: 317px;
  padding: 20px 10px;
  border-radius: 5px;
}

.header-container {
  display: flex;
}

.footer-container {
  display: flex;
  padding-bottom: 140px;
  padding-top: 0;
  bottom: 0;
  position: absolute;
}
