@import url("https://fonts.googleapis.com/css?family=Tangerine|Raleway|Merienda");

* {
  box-sizing: border-box;
}
body {
  font-family: Raleway;
  margin: 0px;
  background-color: rgb(38, 194, 38, 0.6);
}

/* .app-container {
  width: 517px;
  height: 900px;
  background-color: white;
  box-shadow: 0px 4px 16px rgba(126, 133, 142, 0.16);
  margin: 20px auto;
  width: 317px;
  padding: 20px 10px;
  border-radius: 5px;
} */

.form-one-button,
h1 {
  text-align: center;
  justify-content: center;
  padding: 5px;
}

.submit-button {
  background-color: #1f67b4;
  color: white;
  padding: 6px 21px;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 200px;
}

.submit-button-card {
  background-color: #1f67b4;
  color: white;
  padding: 6px 21px;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 130px;
  margin-left: 5px;
}

.dashboard-button {
  background-color: #1f67b4;
  color: white;
  padding: 6px 21px;
  border: none;
  border-radius: 5px;
  height: 100px;
  width: 130px;
  margin-left: 5px;
}

.submit-button:hover {
  background-color: #424293;
}

.header-container {
  display: flex;
  padding: 0;
}

.main-heading {
  font-size: 20px;
  color: #242478;
  text-align: center;
  font-family: Merienda;
}

img.profile-img {
  width: 104px;
}

.footer-container {
  display: flex;
  padding-bottom: 65px;
  padding-top: 0;
  bottom: 0;
  position: absolute;
  margin-left: 24px;
  font-size: 15px;
}

.form-group {
  padding: 5px;
}

.form-group input {
  width: 100%;
  height: 35px;
  font-size: 15px;
}

.form-group label {
  font-size: 15px;
}

.fsa-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 200px;
}

.company-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
}
.banner {
  width: 300px;
}

.link {
  color: white;
  text-decoration: none;
}

.form-group .profile {
  display: inline-block;
}
.text-center {
  text-align: center;
}
hr {
  border: 0.5px solid #efe9e9;
}

.dbc-card {
  text-align: center;
}

.card-container {
  height: 600px;
  width: 317px;
  background-color: white;
  background-size: cover;
  background-image: url("./images/bgprofe.png");
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  margin: 20px auto;
  padding: 20px 10px;
  border-radius: 5px;
  background-color: white;
  color: white;
}

.card-container2 {
  height: 450px;
  width: 317px;
  background-size: cover;
  background-image: url("./images/bgprofe2.png");
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  margin: 20px auto;
  padding: 40px 10px;
  border-radius: 5px;
  background-color: white;
  color: white;
}

.profile-name {
  text-align: left;
  margin-left: 10px;
}

.profile-details {
  text-align: left;
  margin-left: 10px;
}
.card-icon {
  height: 15px;
}

.profile-container {
  background-color: lightgrey;
  background-size: cover;
  height: 50px;
  height: auto;
  border: 5px solid rgb(4, 8, 57, 0.4);
  margin: 20px;
}

.profile-photo {
  display: block;
  height: 190px;
  width: 190px;
  margin-top: 5px;
  margin-left: 90px;
  margin-right: auto;
  border: none;
  border-radius: 100px;
}

.card-details {
  line-height: 0.5;
  text-align: center;
}
.main-container {
  height: 917px;
  width: 317px;
  background-color: white;
  margin: 20px auto;
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}

.welcome {
  padding-top: 50%;
  font-style: italic;
  font-family: Merienda;
}

.welcome-dashboard {
  font-style: italic;
  font-family: Merienda;
}
.slogan {
  text-align: center;
  font-style: italic;
  font-family: Merienda;
}

.about-us {
  text-decoration: none;
}

.share-app {
  text-decoration: none;
}

.homepage-list {
  list-style-type: none;
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  display: inline-block;
  margin: 0 5px;
}

.qr-container {
  height: 450px;
  width: 317px;
  background-color: white;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  margin: 20px auto;
  padding: 80px 10px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

.dashboard-container {
  height: 600px;
  width: 317px;
  background-color: white;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  margin: 20px auto;
  padding: 80px 10px;
  border-radius: 5px;
  background-color: white;
  text-align: center;
}

.view {
  background-color: rgb(255, 102, 0);
  font-family: Raleway;
  font-weight: 900;
}

.contact {
  background-color: rgb(0, 238, 255);
  font-family: Raleway;
  font-weight: 900;
}

.scanqr {
  background-color: rgb(231, 39, 39);
  font-family: Raleway;
  font-weight: 900;
}
